body {
	background-color: #F5F7FA;
	font-family: 'Montserrat', sans-serif;
}

.main-container{
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	background-color: #fff;
	margin: 40px auto;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}


/*Main contect section*/

.main-content{
	margin: 100px 90px;
}

.main-content-title{
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}

/*About me section*/


.about-me-section{
	margin: 0 0 40px 0;
}

.about-me-proffesion {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	margin-bottom: 20px;
}	

.about-me-name{
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #000;
	margin-bottom: 25px;
}

.about-me-description{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-bottom: 40px;
	width: 400px;
}

/*My projects section*/

.my-projects-section{
	margin: 0 0 50px 0;
}

.my-projects-list{
	padding: 0 0 0 17px;
}

.my-projects-item{
	color: #000;
	font-weight: bold;
}
.my-projects-link{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.my-projects-text{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-left: 5px;
}

.my-projects-bracket{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}


/*Work Expirience*/
.my-work-exp-company{
	color: #FB6D3A;
}

.my-work-exp-position{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin: 0 0 10px 0;
}

.my-work-exp-time{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #A8A8A8;
	margin: 0 0 10px 0;
}

.my-work-exp-divider{
	color: #000000;
}

.my-work-exp-duties{
	padding-left: 17px;
}

.my-work-exp-duty{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	padding-left: 10px;
}

.my-work-exp-company-block{
	margin: 0 15px 0 0;
}

/*Education*/

.my-education{
	margin: 43px 0 0 0;
}

.main-content-title{
	margin: 0 0 10px 0;
}

.my-education-profile{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 10px;
}



/*Sidebar*/

.sidebar-section{
	background-color: #1E2939;
	width: 370px;
	padding: 40px 0;
}

.contacts-section,.tech-skills{
	margin: 50px 0 0 40px; 
}

.sidebar-title{
	color:#FFFFFF;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}

 /*Contacts section*/

.contacts-section-type{
	color:#FFFFFF;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	margin-right: 7px;
}

.contacts-section-link{
	color:#FFFFFF;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	opacity: 0.5;
}


/*Tech skills*/

.tech-skills-list{
	padding: 0 0 0 17px;
}

.tech-skills-item{
	color: #FB6D3A;
}

.tech-skills-item-text{
	color: #FFFFFF;
	padding-left: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}


/*Soft skills*/

.soft-skills{
	margin: 50px 0 0 40px;
}

.soft-skills-list{
	padding: 0 0 0 17px;
}

.soft-skills-item{
	color: #FB6D3A;
}

.soft-skills-item-text{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	padding-left: 10px;
}